.left-column {
    width: auto;
    float: left;
}

.background {
    background-color: black;
    width: 800px;
    height: 600px;
    margin: 10px auto 0 auto;
    position: relative;
}

.board {
    margin: 0 auto;
    background-color: white;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 150px;
}


.board-stim {
    display: inline-block;
    margin: 50px;
}

.board-stim img {
    width: 20px;
    height: 20px;
}


.appearance{
    width: 425px;
}

.appearance > .settings > div {
    display:inline-block;
    height: 170px;
    padding:10px 0;

}

.labels p {
    position: relative;
}

.labels-board {
    margin-bottom: 84px;

}


.default-check {
    display: block;
}

.default-check.check-board {
    margin-bottom: 94px;

}

.slider-block {
    margin-bottom: 20px;
}

.labels {
    top: -26px;
    position: relative;
    margin-right: 10px;
}

.default-checks {
    position: relative;
    top: -165px;
    margin-left: 20px;
}

.settings {
    height: 200px;
}

