.left-column {
    width: auto;
    float: left;
}

.background {
    background-color: darkgreen;
    width: 800px;
    height: 600px;
    margin: 10px auto 0 auto;
    position: relative;
}

.board {
    margin: 0 auto;
    background-color: palegreen;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 150px;
}

.board-stims {
    list-style: none;

}

.board-stim {
    display: inline-block;
    margin: 50px;
}

.board-stim img {
    width: 20px;
    height: 20px;
}
