.left-column {
    width: auto;
    float: left;
}

.background {
    background-color: black;
    width: 800px;
    height: 600px;
    margin: 10px auto 0 auto;
    position: relative;
}

.board {
    margin: 0 auto;
    background-color: white;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 150px;
}


.board-stim {
    display: inline-block;
    margin: 50px;
}

.board-stim-label {
    top: 20px;
    position: relative;
}

.board-stim img {
    width: 20px;
    height: 20px;
}


.appearance{
    width: 425px;
    float: left;
}

.appearance > .settings > div {
    display:inline-block;
    height: 170px;
    padding:10px 0;

}

.appearance-labels p {
    position: relative;
}

.labels-board {
    margin-bottom: 84px;

}


.default-check {
    display: block;
}

.default-check.check-board {
    margin-bottom: 90px;

}

.appearance-slider-block {
    margin-bottom: 20px;
}

.appearance-labels {
    top: -26px;
    position: relative;
    margin-right: 10px;
}

.default-checks {
    position: relative;
    top: -165px;
    margin-left: 20px;
}

.default-checks p {
    margin-bottom: 20px;
}

.settings {
    height: 200px;
}

.labels {
    display: inline-block;
    float: left;
    width: 280px;
}

.labels-labels-settings {
    width: 65px;
    float: left;
}

.labels-labels-settings label {
    float: right;
    margin: 5px 0;
    -webkit-transform: scale(1.0);
}

.labels-default {
    float: right;
}

.label-slider-block {
    display: inline-block;
    width: 230px;
}
